body{
  background-color:black;
}
h1{
  color: red;
font-size: 45px;
font-style: san-seriff;
padding-top: 10px;
}
h2{

}
a{

}
ul{
  list-style: none;
  text-decoration:;
}
ul li{
  color: ;
}
.list{
color: white;
margin-top: 15px;
font-size: 25px;
margin: 35px;
}

/*firstsection*/
#section1{
background-color: black;
background-image: url('fall.jpg');
background-repeat: no-repeat;
background-position: center;
}
.netflix{
margin-left: 55px;
margin-top: -50px;
}
.sign{
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 8px 20px;
  border-radius: 5px;
   }
.sign:hover{
     background-color: white;
     color: red;
   }
.sign:active{
  color: yellow;
  background-color: grey;
}
.hache2{
  text-align: center;
  font-size: 50px;
  color: white;
}
.paragraph{
  text-align: center;
  font-size: 25px;
  color: white;
}
.email{
  background-color: white;
  padding: 5px 280px;
  margin-left: 12px;
  margin-bottom: 25px;
}
.get{
  color: white;
  background-color: red;
  text-decoration: none;
  padding:5px 10px;
  margin-left: 5px;
  margin-bottom: 25px;
}
.get:hover{
background-color: black;
color: red;
}
#section2{
  background-color: ;
}
.enjoy{
margin-left: 35px;
font-size: 50px;
color: white;
}
.enjoy:hover{
  color: red;
}
.para{
  margin-left: 35px;
  font-size: 25px;
  color: white;
}
.laptop{
  width: 250px;
  float: right;
  margin-right: 200px;
}
.family{
  width: 150px;
  float: right;
  margin-right: 200px;

}
/*last section*/
.asked{
  text-align: center;
  color: white;
  font-size: 50px;
}
.asked:hover{
color:red;
  }
@media(max-width:768px){
body{
  text-align: center;
}
h1{
  color: red;
font-size: 60px;
font-style: san-seriff;
padding-top: 20px;
}
.sign{
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 8px 20px;
  border-radius: 5px;
   }

.email{
  background-color: white;
  padding: 5px 100px;
  margin-left: 0px
  margin-bottom: 35px;
}
.get{
  color: white;
  background-color: red;
  text-decoration: none;
  padding:5px 2px;
  margin-left: 0px;
  margin-bottom: 35px;
}
.laptop{
  width: 250px;
  float: none;
  margin: auto;
}
.family{
  width: 150px;
  margin:auto;
  float: none;
}
.paragraph{
  text-align: center;
  font-size: 35px;
  color: white;
}
.para{
  font-size: 25px;
  color: white;
}
#section1{
background-color: black;
background-image: url('fall.jpg');
background-repeat:round;
background-position:center;
}

}
